---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import ContentLayout from "../../layouts/ContentLayout.astro";
import PesquisaCard from "../../components/PesquisaCard.astro";
import Paginate from "../../components/Paginate.astro";

type Research = CollectionEntry<"research">;

export const getStaticPaths = (async ({ paginate }) => {
  const PAGE_SIZE = 10;

  const pesquisas = (await getCollection("research")).sort(
    (a, b) => (b.data.endYear ?? 0) - (a.data.endYear ?? 0),
  );

  return paginate(pesquisas, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Research>;
}

const { page } = Astro.props;
---

<ContentLayout
  title="Pesquisas"
  description="Conheça as pesquisas desenvolvidas pelo Laboratório de História e Memória da Luta de Classes"
>
  <ul class="space-y-6 mt-8 pb-24" role="list">
    {
      page.data.map((pesquisa) => (
        <li>
          <PesquisaCard pesquisa={pesquisa} />
        </li>
      ))
    }
  </ul>
  <Paginate page={page} />
</ContentLayout>
