---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import YouTubeSection from "../components/YouTubeSection.astro";
import AgendaSection from "../components/AgendaSection.astro";
import AboutSection from "../components/AboutSection.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Hero slot="hero" />

  <article
    class="mx-auto w-full flex flex-col gap-6 sm:gap-8 md:gap-10 lg:gap-12"
  >
    <AboutSection />
    <div class="border-t border-border"></div>
    <YouTubeSection />
    <div class="border-t border-border"></div>
    <AgendaSection />
  </article>
</BaseLayout>
